<div class="elective-subjects">
  <% elective_block.modules.sort.each do |mod| %>
    <div class="row" style="<%= 'opacity: 0.3;' if elective_block.student_enrolled?(student) && enrollments.none? {|enrollment| enrollment.elective_module_id == mod.id } %>">
      <div class="col-md-4">
        <p>
          <%= mod.name %>
        </p>
      </div>
      <div class="col-md-5">
        <p>
          <%= mod.employee.full_name %>
        </p>
      </div>
      <div class="col-md-1">
        <p>
          <% if mod.student_amount %>
            <%= "#{mod.enrolled_students}/#{mod.student_amount}" %>
          <% else %>
            -
          <% end %>
        </p>
      </div>
      <div class="col-md-3">
        <p>
          <%= mod.ects_amount %>
          ECTS
        </p>
      </div>
      <div class="col-md-3">
        <p>
          <%=t :label_semester %>
          <%= mod.semester_number %>
        </p>
      </div>
    </div>
  <% end %>
</div>