<tr class="fat-row">
  <td>
    <%= employee_block_result.name %>
  </td>
  <td>
    <%=t 'misc.subject_count', :count => employee_block_result.modules.length %>
  </td>
  <td>
    <%= "#{t :label_semester}: #{employee_block_result.modules.collect(&:semester_number).uniq.sort.join(", ")}" %>
  </td>
  <% if employee_block_result.student_amount.present? %>
    <td>
      <%=t "misc.place_count", :count => employee_block_result.student_amount %>
    </td>
  <% end %>
  <td>
    <%= employee_block_result.modules.collect(&:ects_amount).reduce(&:+) %> ECTS
  </td>
</tr>
<% if employee_block_result.accepted_students.present? %>
  <% employee_block_result.accepted_students.sort.each do |student| %>
    <tr>
      <td colspan="5"><%= student.surname_name %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="5" class="text-center"><%=t :label_enrollment_accepted_empty%></td>
  </tr>
<% end %>