<%= f.fields_for :enrollments, student_block do |g| %>
  <tr class="fat-row">
    <td>
      <% if @elective_block.enroll_by_average_grade? %>
        <%= g.disableable_select :priority, !elective_enrollments_available?, options_for_select([["--", ""]] | (1..@elective_block.elective_blocks.length).collect {|i| [i,i] }, g.object.priority) %>
      <% else %>
        <%= g.disableable_checkbox :enroll, !elective_enrollments_available?, {:checked => !g.object.new_record?, :class => 'require-amount'} %>
      <% end %>
      <%= g.hidden_field :_destroy %>
      <%= g.hidden_field :elective_block_id %>
      <%= g.hidden_field :student_id %>
      <%= g.hidden_field :block_id %>
      <% if @elective_block.enroll_by_average_grade? %>
        <%= g.hidden_field :state %>
      <% end %>
    </td>
    <td>
      <%= g.object.block.name %>
    </td>
    <td>
      <%=t 'misc.subject_count', :count => g.object.block.modules.length %>
    </td>
    <td>
      <%= "#{t :label_semester}: #{g.object.block.modules.collect(&:semester_number).uniq.sort.join(", ")}" %>
    </td>
    <% if g.object.block.student_amount.present? %>
      <td>
        <%= "#{g.object.block.student_amount.to_i - g.object.block.enrolled_students}/#{t( "misc.place_count", :count => g.object.block.student_amount)}" %>
      </td>
    <% end %>
    <td>
      <%= g.object.block.modules.collect(&:ects_amount).reduce(&:+) %> ECTS
    </td>
  </tr>
  <% g.object.block.modules.each do |mod| %>
    <tr>
      <td colspan="2" style="border: none;"></td>
      <td><%= mod.name %></td>
      <td>
        <%= "#{t :label_semester}: #{mod.semester_number}" %>
      </td>
      <% if g.object.block.student_amount.present? %>
        <td></td>
      <% end %>
      <td>
        <%= mod.ects_amount %> ECTS
      </td>
    </tr>
  <% end %>
<% end %>
