<% content_for :additional_javascripts do %>
  <%= javascript_include_tag 'filter_form' %>
<% end %>
<%= content_for :filter_menu do %>
  <%= form_tag url_for( :action => params[:action], :controller => params[:controller]), :class => 'filter-form' do %>
    <div class="row">
      <% @filters.each do |filter, field| %>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag "#{field}", t("label_filter_#{filter}") %>
            <%= select_tag "#{field}", options_for_select(send("#{filter}_filter_content"), params[field]) {}, :class => "form-control"  %>
          </div>
        </div>
      <% end %>
      <div class="col-md-3 filter-action pull-right">
        <%= hidden_field_tag :per_page, params[:per_page] %>
        <%= hidden_field_tag :page, params[:page] %>
        <%= button_tag t(:label_filter_action), :class => 'btn btn-danger' %>
        <%= button_tag '', :class => 'btn pull-right refresh-btn', :type => 'button' %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @elective_blocks.present? %>
  <%= form_tag url_for( :action => params[:action], :controller => params[:controller]), :class => 'theses-form' do %>
    <div class="elements-list elective-blocks-list">
      <%= render :partial => 'elective_block', :collection => @elective_blocks %>
    </div>
  <% end %>
<% else %>
  <hr>
  <h5 class="text-list extra-margin"><%=t :label_thesis_not_found%></h5>
<% end %>