<% content_for :additional_javascripts do %>
  <%= javascript_include_tag 'graphite/show_elective_block' %>
<% end %>
<% if can?(:manage, @elective_block) %>
  <% content_for :right_column do %>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <%= button_to elective_block_path(@elective_block), :method => :delete, :class => 'button-small button-small-red button-delete has-tooltip', :type => :button, 'data-toggle'=>"tooltip", 'data-placement'=>"top", :title=>t(:label_remove) do %>
          <%= content_tag :i, nil, :class => 'icon icon-white icon-delete' %>
        <% end %>
      </div>
      <% if @elective_block.enroll_by_average_grade? %>
        <div class="col-md-2">
          <%= link_to graphite.perform_scheduling_elective_block_path(@elective_block), :class => ['button-small button-small-navy button-perform-scheduling has-tooltip', *("disabled" unless @elective_block.scheduling_needed?)].join(" "), 'data-toggle'=>"tooltip", 'data-placement'=>"top", 'data-method' => :patch, :title => t(@elective_block.scheduling_needed? ? :label_schedule_perform : :label_schedule_not_needed) do %>
            <%= content_tag :i, nil, :class => 'icon icon-white icon-manage' %>
          <% end %>
        </div>
      <% end %>
      <div class="col-md-3">
        <%= link_to edit_elective_block_path(@elective_block), :class => 'button-small button-small-navy has-tooltip', 'data-toggle'=>"tooltip", 'data-placement'=>"top", :title => t(:label_edit) do %>
          <%= content_tag :i, nil, :class => 'icon icon-white icon-pen' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<div>
  <div class="row">
    <div class="col-md-1">
      <div class="label-wrapper">
        <span class="label label-danger">
          <%=t "label_elective_block_type_#{@elective_block.block_type.const_name}_letter" %>
        </span>
      </div>
    </div>
    <div class="col-md-15">
      <h4>
        <%= @elective_block.name %>
      </h4>
    </div>
  </div>
  <div>
    <hr class="no-margin">
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
      <h6 class="text-muted">
        <%=t :label_semester %>
      </h6>
    </div>
    <div class="col-md-6">
      <h6 class="text-list">
        <%= @elective_block.semester.try(:name) %>
      </h6>
    </div>
    <div class="col-md-2">
      <h6 class="text-muted">
        <%=t :label_annual %>
      </h6>
    </div>
    <div class="col-md-6">
      <h6 class="text-list">
        <%= @elective_block.annual.try(:name) %>
      </h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h6 class="text-muted">
        <%=t :label_genre%>
      </h6>
    </div>
    <div class="col-md-14">
      <h6 class="text-list block-type" data-elective-block-subjects-amount="<%=@elective_block.min_modules_amount%>">
        <%= send("#{@elective_block.block_type.try(:const_name)}_selection", @elective_block) %>
      </h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h6 class="text-muted">
        <%=t :label_field_of_study_plural%>
      </h6>
    </div>
    <div class="col-md-14">
      <h6 class="text-list">
        <%=raw @studies.collect {|s| "#{s.course.name} - #{s.study_type.name.downcase} #{s.study_degree.name.camelize(:lower)}" }.join(", <br>") %>
      </h6>
    </div>
  </div>
  <% if @enrollments.present? %>
    <div class="section-header extra-margin">
      <h5>
        <%=t "label_elective_block_student_choose_#{@elective_block.block_type.const_name}" %>
      </h5>
      <hr>
    </div>
    <%= elective_block_enrollments_info %>
  <% end %>
  <%= form_for @elective_block, :builder => DisableableFormBuilder, :url => enroll_elective_block_path(@elective_block), :html => { :class => "enrollments-form" } do |f| %>
    <table class="table-list">
      <% if @elective_block.block_type.choose_n_from_m? %>
        <thead>
          <tr>
            <th colspan="5">
              <%=t :label_subject_plural %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => "#{current_user.verifable_type.downcase}_subject", :collection => current_user.student? ? @enrollments : @elective_block.modules.sort, :locals => {:f => f} %>
        </tbody>
      <% elsif @elective_block.block_type.block_of_subjects? %>
        <thead>
          <tr>
            <th colspan="7">
              <%=t :label_elective_block_block_plural %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => "#{current_user.verifable_type.downcase}_block", :collection => current_user.student? ? @enrollments : @elective_block.elective_blocks.sort, :locals => {:f => f} %>
        </tbody>
      <% end %>
    </table>
    <% if @enrollments.present? %>
      <div class="pull-right">
        <% if @elective_block.enrollments_pending?(current_user.student) %>
          <span style="padding-right: 1em;">
            <%=t :label_elective_block_enrollment_pending_desc %>
          </span>
        <% end %>
        <%= f.submit t(:label_save), {:class => "btn btn-danger"}.merge(elective_can_enroll? ? {} : {:disabled => true}) %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  <% end %>
  <% if can?(:manage, @elective_block) %>
    <div class="section-header extra-margin">
      <h5>
        <%=t :label_enrollment_accepted_plural %>
      </h5>
      <hr>
    </div>
    <table class="table-list">
      <% if @elective_block.block_type.choose_n_from_m? %>
      <% elsif @elective_block.block_type.block_of_subjects? %>
        <tbody>
          <%= render :partial => "employee_block_result", :collection => @elective_block.elective_blocks.sort %>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>
